@page "/songs/{id:int}"
@inject HttpClient httpClient

@if(Song == null)
{
    <p>No song details available</p>
}
else
{
    <div class="row">

        <div class=" col-6">
            <img src ="@Song.AlbumCover" alt="@Song.Name">
        </div>
        <div class="col-6">
            <p>DateRealsed</p>
            <p>CopiesSold</p>

        </div>
    </div>
}



@code {
    [Parameter]
    public int id{ get; set; }
    public SongDto Song { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var songs = await httpClient.GetFromJsonAsync<List<SongDto>>("sample-data/songs.json");
        Song = songs.Where(x => x.Id == id).FirstOrDefault();
    }
}
